@page
@model Numbers.Pages.Master3Model
@{
    Layout = "_LayoutThird";
    ViewData["Title"] = "Черные контакты";
}

@section Footer {
    Лабораторная работа №2. Чуваки. Вариант 6. 2023 / @ViewData["Title"]
}

<h1>@ViewData["Title"]</h1>
<div class="contacts-container">
    @for (var i = 0; i < Model.blackList.Count; i++)
    {
        <div class="contact-card">
            <h2>@Model.blackList[i].Name</h2>
            <p>Телефон: @Model.blackList[i].Phone</p>
            <p>Описание: @Model.blackList[i].Description</p>
        </div>
    }
</div>